@import '$lib/styles/reset.css';
@import '$lib/styles/style.css';

html {
	background:
		url('$lib/assets/noise.svg') repeat center,
		url('$lib/assets/bg-tile.svg') repeat left calc(50% + 53px) top 0,
		linear-gradient(to bottom right, #0c0b11, ease-in-out, #1a173e) top left / 100% 100%,
		#0c0b11;

	color: white;
}

:root {
	--cell-size: 106px;
	--grid-gap: 1px;
	--cols: 3;
	--img-rows: 2;

	--onecol: calc(var(--cols) * (var(--cell-size) + var(--grid-gap)) - var(--grid-gap));
}

@media (width >= 500px) {
	:root {
		--cols: 4;
	}
	html {
		background:
			url('$lib/assets/noise.svg') repeat center,
			url('$lib/assets/bg-tile.svg') repeat center top,
			linear-gradient(to bottom right, #0c0b11, ease-in-out, #1a173e) top left / 100% 100%,
			#0c0b11;
	}
}

@media (width >= 720px) {
	:root {
		--cols: 3;
	}
}

@media (width >= 950px) {
	:root {
		--cols: 4;
	}
}

#intro {
	margin-block-start: 54px;
}

.container {
	display: grid;
	max-width: 90dvw;
	margin-inline: auto;
	grid-template-columns: repeat(auto-fill, min(90dvw, var(--onecol)));
	grid-auto-rows: var(--cell-size);
	gap: var(--grid-gap);
	justify-content: center;
	z-index: 1;
}
.corners {
	position: relative;

	border: 13px solid;
	border-image: url('$lib/assets/corner-frame.svg') 13;
	border-image-outset: 1px;
}

figure {
	margin: 0;
	padding: 0;
	border: none;
}

main {
	width: 100%;
	min-height: 100dvh;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1px;
	margin-block-start: 1px;
}

h1 {
	grid-column: 1 / -1;
	grid-row: span 2;
	display: grid;
	place-items: center;

	@media (width >= 950px) {
		grid-row: auto;
	}

	span {
		--spacing: 0.64em;
		display: block;
		font-size: 48px;
		letter-spacing: var(--spacing);
		line-height: 1;
		text-align: center;
		margin-inline-end: calc(-1 * var(--spacing));
	}
	--aberration-offset: 0.04em;
	--aberration-bleed: 0.01em;
	--aberration-opacity: 0.4;
	text-shadow:
		calc(var(--aberration-offset) * 3) 0 var(--aberration-bleed)
			rgb(0 0 255 / var(--aberration-opacity)),
		calc(-1 * var(--aberration-offset)) var(--aberration-offset) var(--aberration-bleed)
			rgb(255 0 255 / var(--aberration-opacity)),
		calc(-1 * var(--aberration-offset) * 2) calc(-1 * var(--aberration-offset))
			var(--aberration-bleed) rgb(0 255 0 / var(--aberration-opacity)),
		calc(-1.5 * var(--aberration-offset)) calc(-0.5 * var(--aberration-offset))
			var(--aberration-bleed) rgb(255 255 255 / calc(var(--aberration-opacity) / 2)),
		calc(1.5 * var(--aberration-offset)) calc(0.5 * var(--aberration-offset))
			var(--aberration-bleed) rgb(255 255 255 / calc(var(--aberration-opacity) / 2));

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 25px;
		height: 13px;
		inset-block: auto;
	}

	&::before {
		bottom: calc(100% + 13px);
		background: url('$lib/assets/crosshair-half-top.svg') no-repeat center;
	}
	&::after {
		top: calc(100% + 13px);
		background: url('$lib/assets/crosshair-half-bottom.svg') no-repeat center;
	}
}

footer {
	margin-block: 108px;
	grid-column: 1 / -1;
	grid-row: span 2;

	div {
		background: rgb(255 255 255 / 0.05);
		grid-column: 1 / -1;
		grid-row: span 2;
		display: flex;

		flex-flow: column;

		justify-content: space-evenly;
		padding-inline: 2em;
		gap: 0;
		font-size: 0.8em;

		@media (width >= 720px) {
			grid-row: span 1;
		}

		@media (width >= 950px) {
			font-size: 1em;
		}
	}

	a {
		color: inherit;
	}
}
