:root {
  font-family: system-ui;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #122639;
    background: #FFFFFF;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #FFFFFF;
    background: #122639;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}


a {
  font-weight: 700;
  color: #646cff;
  text-decoration: underline;
  padding: 0 .15em .1em;
}
a:hover {
  background: #646cff;
  color: #fff;
  border-radius: .1em;
  box-shadow: 0 0 0 .1em #646cff;
}

body {
  border: 1em solid currentColor;
  margin: 0;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  padding: 6dvh 6vw;
  font-size: 18px;
  letter-spacing: -.03em;
}

header {
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 1em;
}
h1, h3 {
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: 2.6em;
  letter-spacing: -.04em;
  font-weight: 900;
}

h3 {
  font-weight: 300;
  font-size: 1.3em;
}

small {
  font-size: .5em;
  font-weight: 400;
  letter-spacing: -.04em;
}


aside {
  grid-column: 1 / 2;
  position: relative;
  max-width: 50vw;
  aspect-ratio: 1;
  display: flex;
  transform: translate3d(0, 0, 0); 
}
aside::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 80%;
  height: 80%;
  display: block;
  border-radius: 50%;
  z-index: 0;

  background: conic-gradient(
    from 180deg at 50% 50%,
    #FBF9F5, #FBF9F5,
    #FFAFC7, #FFAFC7,
    #74D7EC, #74D7EC,
    #603813, #603813,
    #000000, #000000,
    #D40606, #D40606,
    #EE9C00, #EE9C00,
    #E3FF00, #E3FF00,
    #06BF00, #06BF00,
    #001A98, #001A98,
    #760089, #760089
  );
  filter: blur(8vw);

  animation: pinwheel 60s linear infinite;
}


@keyframes pinwheel {
  to {
    transform: rotate(360deg);
  }
}

main {
  grid-column: 2 / 4;
}


img {
  position: relative;
  max-width: min(100%, 50vw);
  z-index: 1;
  mix-blend-mode: hard-light;
}

p strong {
  position: relative;
  text-shadow: 0 0 0 5px white;
  white-space: nowrap;
}

p strong::before {
  content: '';
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to right,
    #001A98,  
    #760089,
    #FBF9F5,
    #FFAFC7,
    #74D7EC,
    #603813,
    #000000,
    #D40606,
    #EE9C00,
    #E3FF00,
    #06BF00,
    #001A98,
    #760089
  ) repeat;
  z-index: -1;

  translate: 0 -50%;
  filter: blur(.6em);
}

div {
  display: flex;
  flex-flow: column;
  align-items: center;
}


@media screen and (min-width: 700px) {

  body {
    align-items: center;
  }

  div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    align-items: start;
    max-width: 1200px;
  }
  aside::before {
    filter: blur(48px);
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 24px;
  }
}