:root {
  font-family: system-ui;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #122639;
    --bg: #FFFFFF;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #FFFFFF;
    --bg: #122639;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: var(--text);
  border: 1em solid var(--text);
  margin: 0;
  min-height: 100dvh;
  display: flex;
  /* justify-content: center; */
  padding: 6dvh 6vw;
  font-size: 18px;
  letter-spacing: -.03em;
}

div {
  display: flex;
  flex-flow: column;
  align-items: center;
}

header {
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 1em;
}

p {
  margin: 0;
}
p + p {
  margin-top: .8em;
}


aside {
  grid-column: 1 / 2;
  position: relative;
  max-width: 50vw;
  aspect-ratio: 1;
  display: flex;
  transform: translate3d(0, 0, 0); 
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
aside::before {
  content: '';
  border-radius: 50%;
  z-index: 0;
  grid-area: 1 / 1 / 2 / 2;
  margin: 1em;

  background: conic-gradient(
    from 180deg at 50% 50%,
    #FBF9F5,
    #FFAFC7,
    #74D7EC,
    #603813,
    #000000,
    #D40606,
    #EE9C00,
    #E3FF00,
    #06BF00,
    #001A98,
    #760089
  );
  filter: blur(8vw);

  animation: pinwheel 60s linear infinite;
}


@keyframes pinwheel {
  to {
    transform: rotate(360deg);
  }
}

main {
  grid-column: 2 / 4;
}


img {
  position: relative;
  max-width: min(100%, 50vw);
  z-index: 1;
  mix-blend-mode: hard-light;
  grid-area: 1 / 1 / 2 / 2;
}

h1, span {
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: 2.6em;
  letter-spacing: -.04em;
  font-weight: 900;
}

span {
  font-weight: 300;
  font-size: 1.3em;
}

a {
  font-weight: 700;
  color: #525AF5;
  text-decoration: underline;
  padding: 0 .15em .1em;
}
a:hover {
  background: #525AF5;
  color: #fff;
  border-radius: .1em;
  box-shadow: 0 0 0 .1em #525AF5;
}

strong.gay {
  position: relative;
  text-shadow: 0 0 0 5px white;
  white-space: nowrap;
}

strong.gay::before {
  content: '';
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to right,
    #001A98,  
    #760089,
    #FBF9F5,
    #FFAFC7,
    #74D7EC,
    #603813,
    #000000,
    #D40606,
    #EE9C00,
    #E3FF00,
    #06BF00,
    #001A98,
    #760089
  ) repeat;
  z-index: -1;

  translate: 0 -50%;
  filter: blur(.6em);
}

footer {
  margin: 2em 0 0;
  padding: 1em 1.4em;
  background: var(--text);
  color: var(--bg);
  font-size: .8em;
  border-radius: .5em;
}

@media (min-aspect-ratio: 1/1) {

  body {
    align-items: center;
  }

  div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    align-items: start;
    max-width: 1200px;
  }
  aside::before {
    filter: blur(48px);
  }
}

body {
  font-size: clamp(18px, 2.5vw, 24px);
}

/* @media screen and (min-width: 1000px) {
  body {
    font-size: 24px;
  }
} */